
# Default ignored files
workspace.xml
.gitkeep
Acceptance.php
acceptance.suite.yml
AcceptanceTester.php
AcceptanceTesterActions.php

Functional.php
functional.suite.yml
FunctionalTester.php
FunctionalTesterActions.php
misc.xml
modules.xml

solutionAD/tests/_support/Helper/Unit.php
unit.suite.yml
UnitTester.php
UnitTesterActions.php
vcs.xml
vēlreiz.iml
.idea
.name
projectAD.iml
solutionAD/vendor
solutionAD/c3.php
solutionAD/src/User123.php
solutionAD/composer.lock
solutionAD/composer.json
