<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
         testdox="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="Test">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>